.inputForm
    form(method="POST")
        label(for="firstName") First Name:
        input(type="text" id="firstName" name="firstName")
        label(for="lastName") Last Name:
        input(type="text" id="lastName" name="lastName")
        input(type="submit" value="Submit")
.studentList
    ul#contents